<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/app.js"></script>
</head>
<body class="bg-secondary" ng-controller="myController">

  <div class="container mt-sm-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6 card">
        <div class="card-body">
          <h2 class="card-title text-dark">Artist Directory</h2>

          <div class="form-row mb-2">

            <div class="col">
              <!--ng-show,ng-if,ng-hide Só EXECUTAM CASO A CONDIÇÃO SEJA VERDADEIRA-->
              <label class="col-form-label text-right" for="searchQuery">search <span ng-show="query">{{"for: " + query }}</span></label>
            </div>
            
            <div class="col-12">
              <input class="form-control form-control-lg" id="searchQuery" placeholder="Search for artists" autofocus ng-model="query">
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="artist-list container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-9 col-md-7 col-lg-5">
        <ul class=" list-group d-flex" ng-if="query">
          <li class="list-group-item" ng-repeat="artista in artistas">
  
              <div class="media d-flex align-items-center">
                <!-- QUANDO ESTA USANDO ARQUIVOS E TEM QUE UNIR COM PROPRIEDADES DO ANGULAR É NECESSARIO USAR O ng-src -->
                <img class="rounded-circle mr-3" ng-src="images/{{artista.shortname}}_tn.jpg" alt="Photo of {{artista.name}}">
                <div class="media-body">
                  <h5 class="my-0 text-dark">{{artista.name | uppercase }}</h5>
                  <div class="text-secondary font-italic">{{artista.reknown | lowercase }}</div>
                </div>
              </div>
  
          </li>
        </ul>
      </div>
    </div>
  </div>
  

  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/popper.min.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>

</body>
</html>